<?xml version="1.0" encoding="UTF-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <properties>
    <property resource="Config/properties.xml"/>
  </properties>
  <settings>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>
  <providers resource="Config/providers.config" />
  <database>
    <provider name="MySql"/>
    <dataSource name="nan" connectionString="${sampleConnectionString}"/>
  </database>
  <sqlMaps>
    <sqlMap resource="SqlMap/person.sqlmap.xml"/>
  </sqlMaps>
</sqlMapConfig>
